<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--1"></div>
        <div class="card__content">
          <div class="card__title">Fitinguri si robineti</div>
          <p class="card__text">Fitinguri si robineti Ferro</p>
           <div class="card__footer">Ferro</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
          <div class="card__title">Filtru Y</div>
          <p class="card__text">Filtru Y pentru PPR</p>
           <div class="card__footer">Filtru Y</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <div class="card__title">Filtru Y 1</div>
          <p class="card__text">Filtru Y 1  toli, PN20</p>
           <div class="card__footer">Filtru Y 1</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--4"></div>
        <div class="card__content">
          <div class="card__title">Filtru Y 1/2</div>
          <p class="card__text">Filtru Y 1/2 toli, PN20</p>
           <div class="card__footer">Filtru Y 1/2</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--5"></div>
        <div class="card__content">
          <div class="card__title">Vana 3 cai rotativa</div>
          <p class="card__text">Vana 3 cai rotativa 1" cu servomotor rapid, 230V/50Hz,</p>
           <div class="card__footer">Vana 3 cai rotativa</div>
        </div>
      </div>
    </li>
  </ul>