.card__image--1 {
  background-image: url('../../assets/centrale/1.webp');
}
.card__image--2 {
  background-image: url('../../assets/centrale/2.webp');
}
.card__image--3 {
  background-image: url('../../assets/centrale/3.webp');
}
.card__image--4 {
  background-image: url('../../assets/centrale/4.webp');
}
.card__image--5 {
  background-image: url('../../assets/centrale/5.webp');
}
.card__image--6 {
  background-image: url('../../assets/centrale/6.webp');
}
