<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--1"></div>
        <div class="card__content">
          <div class="card__title">Centrala termica</div>
          <p class="card__text">Centrala termica Arca Pixel 24 kW, tiraj fortat, conventionala, alb</p>
          <div class="card__footer">Arca Pixel 24 kW</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
          <div class="card__title">Centrala termica pe gaz</div>
          <p class="card__text">Centrala termica pe gaz in condensare IMMERGAS VICTRIX OMNIA 25</p>
          <div class="card__footer">IMMERGAS VICTRIX OMNIA 25</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <div class="card__title">Centrala termica murala </div>
          <p class="card__text">Centrala termica murala in condensare Immergas Victrix TERA 24/28 1 ErP, Gaz, Tiraj fortat, 24 kW, Doua schimbatoare de caldura, Display digital</p>
          <div class="card__footer">Immergas Victrix TERA 24/28 1 ErP</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--4"></div>
        <div class="card__content">
          <div class="card__title">Centrala termica cu recuperare</div>
          <p class="card__text">Centrala termica cu recuperare de condens Motan Condens 050, 24 kw</p>
          <div class="card__footer">Motan Condens 050, 24 kw</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--5"></div>
        <div class="card__content">
          <div class="card__title">Centrala termica murala</div>
          <p class="card__text">Centrala termica murala in condensare Ariston CLAS ONE</p>
          <div class="card__footer">Ariston CLAS ONE</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--6"></div>
        <div class="card__content">
          <div class="card__title">Centrala termica</div>
          <p class="card__text">Centrala termica Vaillant VUW 236/7-2 eco tec Pure 23 kw</p>
          <div class="card__footer">Vaillant VUW 236/7-2</div>
        </div>
      </div>
    </li>
  </ul>