<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--1"></div>
        <div class="card__content">
          <div class="card__title">1</div>
          <p class="card__text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <button class="btn btn--block card__btn">75 RON</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
          <div class="card__title">2</div>
          <p class="card__text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <button class="btn btn--block card__btn">75 RON</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <div class="card__title">3</div>
          <p class="card__text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <button class="btn btn--block card__btn">75 RON</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--4"></div>
        <div class="card__content">
          <div class="card__title">3</div>
          <p class="card__text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <button class="btn btn--block card__btn">75 RON</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--5"></div>
        <div class="card__content">
          <div class="card__title">3</div>
          <p class="card__text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <button class="btn btn--block card__btn">75 RON</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--6"></div>
        <div class="card__content">
          <div class="card__title">3</div>
          <p class="card__text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <button class="btn btn--block card__btn">75 RON</button>
        </div>
      </div>
    </li>
  </ul>