
.card__image--1 {
  background-image: url('../../assets/baterii/1.webp');
}
.card__image--2 {
  background-image: url('../../assets/baterii/2.webp');
}
.card__image--3 {
  background-image: url('../../assets/baterii/3.webp');
}
.card__image--4 {
  background-image: url('../../assets/baterii/4.webp');
}
.card__image--5 {
  background-image: url('../../assets/baterii/5.webp');
}
.card__image--6 {
  transform: scale(0.7);
  background-image: url('../../assets/baterii/6.webp');
}
.card__image--7 {
  transform: scale(0.7);
  background-image: url('../../assets/baterii/7.webp');
}
.card__image--8 {
  background-image: url('../../assets/baterii/8.webp');
}
.card__image--9 {
  background-image: url('../../assets/baterii/9.webp');
}
.card__image--10 {
  background-image: url('../../assets/baterii/10.webp');
}