<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--1"></div>
        <div class="card__content">
          <div class="card__title">Baterie bucatarie </div>
          <p class="card__text">Baterie bucatarie Ferro Zumba II, 2 functii: jet si dus, pipa flexibila, </p>
          <div class="card__footer">Ferro Zumba II</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--10"></div>
        <div class="card__content">
          <div class="card__title">Baterie bucatarie</div>
          <p class="card__text">Baterie bucatarie Ferro Zumba, crom/negru, pipa flexibila</p>
          <div class="card__footer">Ferro Zumba</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--6"></div>
        <div class="card__content">
          <div class="card__title">Baterie bucatarie</div>
          <p class="card__text">Baterie bucatarie Evosanitary 5001, tip U, monocomanda, racorduri, cartus ceramic, inox</p>
          <div class="card__footer">Evosanitary 5001</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <div class="card__title">Baterie monocomanda</div>
          <p class="card__text">Baterie monocomanda ECO EC5, finisaj cromat</p>
          <button class="btn btn--block card__btn">ECO EC5</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--7"></div>
        <div class="card__content">
          <div class="card__title">Robinet Electric EDAR Flexibil</div>
          <p class="card__text">Robinet Electric EDAR Flexibil Pentru Incalzit Apa cu Afisaj LED, Putere 3000 W, Apa Calda Instant 30°C-60°C</p>
          <button class="btn btn--block card__btn">EDAR Flexibil</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--9"></div>
        <div class="card__content">
          <div class="card__title">9Robinet Electric pentru Incalzit Apa</div>
          <p class="card__text">Robinet Electric pentru Incalzit Apa cu Afisaj Temperatura LCD led, Putere 3KW, Apa Calda Instant, Debit 1.5L/min</p>
          <button class="btn btn--block card__btn">Robinet Electric pentru Incalzit Apa</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--4"></div>
        <div class="card__content">
          <div class="card__title">Baterie lavoar</div>
          <p class="card__text">Baterie lavoar Ferro Presstige II, cu temporizare pentru apa rece/calda, cartus ceramic, Crom</p>
          <button class="btn btn--block card__btn">Ferro Presstige II</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
          <div class="card__title">Baterie perete</div>
          <p class="card__text">Baterie perete cada/dus Savio BSV1 FERRO</p>
          <div class="card__footer">BSV1 FERRO</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--5"></div>
          <div class="card__content">
            <div class="card__title">Baterie perete</div>
            <p class="card__text">Baterie perete cada/dus Ferro Alba VerdeLine BLB1VL</p>
            <button class="btn btn--block card__btn">Ferro BLB1VL</button>
          </div>
        </div>
      </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--8"></div>
          <div class="card__content">
            <div class="card__title">Baterie bideu</div>
            <p class="card__text">Baterie bideu</p>
            <button class="btn btn--block card__btn">Baterie bideu</button>
          </div>
        </div>
      </li>
  </ul>