<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--10"></div>
        <div class="card__content">
          <div class="card__title">Boiler mixt</div>
          <p class="card__text">Boiler mixt cu 2 serpentine in paralel Eldom</p>
          <div class="card__footer">Eldom</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
          <div class="card__title">Boiler termoelectric</div>
          <p class="card__text">Boiler termoelectric cu doua serpentine Eldom</p>
          <div class="card__footer">Eldom</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <div class="card__title">Boiler electric</div>
          <p class="card__text">Boiler electric, habitat, 50l, 1500w.</p>
           <div class="card__footer">Boiler electric 50l</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--4"></div>
        <div class="card__content">
          <div class="card__title">Boiler electric</div>
          <p class="card__text">Boiler electric Eldom, EXTRA LIFE, 10 L</p>
           <div class="card__footer">Boiler electric 10L</div>
        </div>
      </div>
    </li>
  </ul>