.card__image--1 {
  background-image: url('../../assets/chiuvete/1.webp');
}
.card__image--2 {
  background-image: url('../../assets/chiuvete/2.webp');
}
.card__image--3 {
  background-image: url('../../assets/chiuvete/3.webp');
}
.card__image--4 {
  background-image: url('../../assets/chiuvete/4.webp');
}
