<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--1"></div>
        <div class="card__content">
          <div class="card__title">Chiuveta patrata de bucatarie</div>
          <p class="card__text">Chiuveta patrata de bucatarie  din granit, Ferro Mezzo II</p>
           <div class="card__footer">Ferro Mezzo II</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
          <div class="card__title">Chiuveta Bucatarie</div>
          <p class="card__text">Chiuveta Bucatarie din granit , Ferro Mezzo II Patrat - o cuva si picurator </p>
           <div class="card__footer">Ferro Mezzo II </div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <div class="card__title">Chiuveta Bucatarie</div>
          <p class="card__text">Chiuveta Bucatarie din granit ,Ferro,  cuva Ø 51 cm </p>
           <div class="card__footer">Ferro</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--4"></div>
        <div class="card__content">
          <div class="card__title">Chiuveta bucatarie</div>
          <p class="card__text">Chiuveta bucatarie inox Alveus</p>
           <div class="card__footer">Alveus</div>
        </div>
      </div>
    </li>
   
  </ul>