
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  max-width:300px;
  margin:auto;
}

.icon {
  padding: 10px;
  background: #8A70FF;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
.logo-transparent { 
  height: 6.2em;
}
