
<div class="center">
    <h1>Contact</h1>
</div>
  
<div class="contact-container">
    <div class="item">
        <i class="fa fa-phone">
        0740494934
        </i>
    </div>
    <div class="item">
        <i class="fa fa-envelope">cardosstelian@gmail.com</i></div>
    <div class="item">
        <i class="fa fa-map-marker">Adresa</i></div>
</div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21850.74412024522!2d23.748917545507833!3d46.797548698121666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474974d58cfadf11%3A0xfe884d75f7f5cb5b!2sApahida%20407035!5e0!3m2!1sro!2sro!4v1695575172276!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>