
<form>
	<div class="input-container">
		<input class="input-field" type="text" placeholder="Contact" style="text-align: center;" name="usrnm" readonly>
	  </div>
	<div class="input-container">
	  <i class="fa fa-phone icon">
	  <a href="whatsapp://send?abid=0740494934&text=Hello%2C%20World!"></a></i>
	  <input class="input-field" type="text" placeholder="0740494934" name="usrnm" readonly>
	</div>
  
	<div class="input-container">
	  <i class="fa fa-envelope icon"></i>
	  <input class="input-field" type="text" placeholder="cardosstelian@gmail.com" name="email" readonly>
	</div>
	
	<div class="input-container">
	  <i class="fa fa-map-pin icon"></i>
	  <input class="input-field" type="password" placeholder="Strada Principala 42" name="psw" readonly>
	</div>

	<div class="input-container">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10933.881084018201!2d23.5614483!3d46.7556262!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e7acebb97dd%3A0x2e44663cb9766fab!2sMagsan%20Tehnico-Sanitare!5e0!3m2!1sro!2sro!4v1697219382964!5m2!1sro!2sro"  
		height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	  </div>

	<div class="input-container">
        <img class="logo-transparent" src="../assets/logo.jpeg" />
	</div>
  </form>
  