<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--1"></div>
        <div class="card__content">
          <div class="card__title">Robinet dublu</div>
          <p class="card__text">Robinet dublu serviciu alama Conexiune MT 1/2'' Port furtun, Ferro</p>
          <div class="card__footer">Ferro</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
          <div class="card__title">Robinet Coltar</div>
          <p class="card__text">Robinet Coltar Apa 1/2 FE - 1/2 FE Ferro, Inchidere Metalica</p>
          <div class="card__footer">1/2 FE Ferro</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <div class="card__title">Robinet Ferro</div>
          <p class="card__text">Robinet Ferro apa PN40 1/2 FI</p>
          <div class="card__footer">PN40 1/2 FI</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--4"></div>
        <div class="card__content">
          <div class="card__title">Robinet golire</div>
          <p class="card__text">Robinet golire, din alama, cu sfera 1/2" FE </p>
          <div class="card__footer">1/2" FE</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--5"></div>
          <div class="card__content">
            <div class="card__title">Robinet scurgere</div>
            <p class="card__text">Robinet scurgere din alama cromata cu ventil Ferro, 1/2"</p>
            <div class="card__footer">Ferro 1/2"</div>
          </div>
        </div>
      </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--6"></div>
          <div class="card__content">
            <div class="card__title">Robinet trecere</div>
            <p class="card__text">Robinet trecere sfera cu fluture PN30,1", F-Power</p>
            <div class="card__footer">PN30,1" F-Power</div>
          </div>
        </div>
      </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--7"></div>
          <div class="card__content">
            <div class="card__title">Robinet trecere</div>
            <p class="card__text">Robinet trecere cu semiolandez PN16,3/4", Ferro F-Power</p>
            <div class="card__footer">Ferro F-Power</div>
          </div>
        </div>
      </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--8"></div>
          <div class="card__content">
            <div class="card__title">Robinet trecere</div>
            <p class="card__text">Robinet trecere sfera cu fluture PN30,1/2", F-Power </p>
            <div class="card__footer">Ferro F-Power</div>
          </div>
        </div>
      </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--9"></div>
          <div class="card__content">
            <div class="card__title">Robinet trecere</div>
            <p class="card__text">Robinet trecere cu olandez din alama PN25,1" FI-FE cu sfera si fluture</p>
            <div class="card__footer">FI-FE</div>
          </div>
        </div>
      </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--10"></div>
          <div class="card__content">
            <div class="card__title">Robinet trecere</div>
            <p class="card__text">Robinet trecere din fonta cu ventil Ferro</p>
            <div class="card__footer">Ferro</div>
          </div>
        </div>
      </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--11"></div>
          <div class="card__content">
            <div class="card__title">Robinet Sertar</div>
            <p class="card__text">Robinet Sertar, Ferro</p>
            <div class="card__footer">Ferro</div>
          </div>
        </div>
      </li>
    <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--12"></div>
          <div class="card__content">
            <div class="card__title">Set 3in1</div>
            <p class="card__text">Set 3in1 Cap termostatic Robineti Tur coltar si Retur coltar 1/2", crom</p>
            <div class="card__footer">Set 3in1</div>
          </div>
        </div>
      </li>
  </ul>