.card__image--1 {    
    background-image: url('../../assets/robineti/1.webp');
}
.card__image--2 {
    background-image: url('../../assets/robineti/2.webp');
}
.card__image--3 {
  background-image: url('../../assets/robineti/3.webp');
}
.card__image--4 {
  background-image: url('../../assets/robineti/4.webp');
}
.card__image--5 {
  background-image: url('../../assets/robineti/5.webp');
}
.card__image--6 {
  background-image: url('../../assets/robineti/6.webp');
}
.card__image--7 {
  background-image: url('../../assets/robineti/7.webp');
}
.card__image--8 {
  background-image: url('../../assets/robineti/8.webp');
}
.card__image--9 {
  background-image: url('../../assets/robineti/9.webp');
}
.card__image--10 {
  background-image: url('../../assets/robineti/10.webp');
}
.card__image--11 {
  background-image: url('../../assets/robineti/11.webp');
}
.card__image--12 {
  background-image: url('../../assets/robineti/12.webp');
}