<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--1"></div>
        <div class="card__content">
          <div class="card__title">Radiator baie</div>
          <p class="card__text">Radiator baie portprosop (calorifer) otel</p>
          <div class="card__footer">Radiator baie</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
          <div class="card__title">Calorifere din otel</div>
          <p class="card__text">Calorifere din otel, Eccorad</p>
           <div class="card__footer">Eccorad</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <div class="card__title">Calorifere din otel</div>
          <p class="card__text">Calorifere din otel Purmo</p>
           <div class="card__footer">Purmo</div>
        </div>
      </div>
    </li>
  </ul>