<nav>
    <div class="wrapper">
      <div class="logo"><a href="#">MagsanPRO</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn">
          <img class="menu-button" src="../assets/close.png" /></label>
        <li><a href="">Acasa</a></li>
        <li><a href="/despre">Despre</a></li>
        <li>
          <a class="desktop-item">Produse</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Produse</label>
          <ul class="drop-menu">
            <li><a href="/produse-baterii">Baterii</a></li>
            <li><a href="/produse-boilere">Boilere</a></li>
            <li><a href="/produse-calorifere">Calorifere</a></li>
            <li><a href="/produse-centrale">Centrale</a></li>
            <li><a href="/produse-chiuvete-normale">Chiuvete</a></li>
            <li><a href="/produse-chiuvete-baie">Chiuvete baie</a></li>
            <li><a href="/produse-fitinguri">Fitinguri</a></li>
            <li><a href="/produse-robineti">Robineti</a></li>
            <li><a href="/produse-tevi">Tevi cupru si PVC</a></li>
            <li><a href="/produse-vas-wc">Vas WC</a></li>
          </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn">
        <img class="menu-button" src="../assets/menu.png" />
      </label>
    </div>
  </nav>
  
<img class="home-img" src="../../assets/home-background.jpg"/>

  <div class="body-text">
    <router-outlet></router-outlet>
  </div>