<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--1"></div>
        <div class="card__content">
          <div class="card__title">Set compact WC</div>
          <p class="card__text">Set compact WC iesire laterala Senator Cersanit + capac WC polipropilena</p>
          <div class="card__footer">Senator Cersanit</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
          <div class="card__title">ALL IN ONE</div>
          <p class="card__text">ALL IN ONE Incastrat - Geberit + Cersanit Delphi - Gata de montaj - Vas wc Suspendat Cersanit Delphi + Capac softclose + Rezervor Geberit</p>
          <div class="card__footer">Geberit + Cersanit Delphi</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <div class="card__title">Pisoar</div>
          <p class="card__text">Pisoar Apollo A101, alimentare superioara Cersanit</p>
          <div class="card__footer">Apollo A101</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--4"></div>
        <div class="card__content">
          <div class="card__title">Set 3 componente</div>
          <p class="card__text">Set 3 componente WC toaleta,Easil,Iesire laterala,Ceramica sanitara ,Capac ,Rezervor,Racord manson,Sistem fixare pardoseala ,38,5 X 36,5 X 48,5</p>
          <div class="card__footer">Set 3 componente WC toaleta</div>
        </div>
      </div>
    </li>
  </ul>