.card__image--1 {    
    background-image: url('../../assets/vas-wc/1.webp');
}
.card__image--2 {
    background-image: url('../../assets/vas-wc/2.webp');
}
.card__image--3 {
  background-image: url('../../assets/vas-wc/3.webp');
}
.card__image--4 {
  background-image: url('../../assets/vas-wc/4.webp');
}
.card__image--5 {
  background-image: url('../../assets/vas-wc/4.webp');
}