<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--1"></div>
        <div class="card__content">
          <div class="card__title">Teava polietilena</div>
          <p class="card__text">Teava polietilena PEHD apa, PE100, D 25 mm, PN10</p>
          <div class="card__footer">PN10</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
          <div class="card__title">Teava multistrat</div>
          <p class="card__text">Teava multistrat Henco RIXC izolat, diametru 16 mm, insertie aluminiu 0.2 mm,  Rosu</p>
          <div class="card__footer"> Henco RIXC</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <div class="card__title">Teava cupru</div>
          <p class="card__text">Teava cupru bara</p>
          <div class="card__footer">Teava cupru bara</div>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--4"></div>
        <div class="card__content">
          <div class="card__title">Teava multistrat</div>
          <p class="card__text">Teava multistrat Henco RIXC neizolat, diametru 16 mm, insertie aluminiu 0.2 mm</p>
          <div class="card__footer">Henco RIXC</div>
        </div>
      </div>
    </li>
  </ul>