.card__image--1 {    
    background-image: url('../../assets/tevi-cupru-si-pvc/1.webp');
}
.card__image--2 {
    background-image: url('../../assets/tevi-cupru-si-pvc/2.webp');
}
.card__image--3 {
  background-image: url('../../assets/tevi-cupru-si-pvc/3.webp');
}
.card__image--4 {
  background-image: url('../../assets/tevi-cupru-si-pvc/4.webp');
}